@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap");

.fs-1 {
  font-size: 0.0625rem;
}

.fs-2 {
  font-size: 0.125rem;
}

.fs-3 {
  font-size: 0.1875rem;
}

.fs-4 {
  font-size: 0.25rem;
}

.fs-5 {
  font-size: 0.3125rem;
}

.fs-6 {
  font-size: 0.375rem;
}

.fs-7 {
  font-size: 0.4375rem;
}

.fs-8 {
  font-size: 0.5rem;
}

.fs-9 {
  font-size: 0.5625rem;
}

.fs-10 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-19 {
  font-size: 1.1875rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-25 {
  font-size: 1.5625rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-27 {
  font-size: 1.6875rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-29 {
  font-size: 1.8125rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-31 {
  font-size: 1.9375rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-33 {
  font-size: 2.0625rem;
}

.fs-34 {
  font-size: 2.125rem;
}

.fs-35 {
  font-size: 2.1875rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-37 {
  font-size: 2.3125rem;
}

.fs-38 {
  font-size: 2.375rem;
}

.fs-39 {
  font-size: 2.4375rem;
}

.fs-40 {
  font-size: 2.5rem;
}

.fs-41 {
  font-size: 2.5625rem;
}

.fs-42 {
  font-size: 2.625rem;
}

.fs-43 {
  font-size: 2.6875rem;
}

.fs-44 {
  font-size: 2.75rem;
}

.fs-45 {
  font-size: 2.8125rem;
}

.fs-46 {
  font-size: 2.875rem;
}

.fs-47 {
  font-size: 2.9375rem;
}

.fs-48 {
  font-size: 3rem;
}

.fs-49 {
  font-size: 3.0625rem;
}

.fs-50 {
  font-size: 3.125rem;
}

.fs-51 {
  font-size: 3.1875rem;
}

.fs-52 {
  font-size: 3.25rem;
}

.fs-53 {
  font-size: 3.3125rem;
}

.fs-54 {
  font-size: 3.375rem;
}

.fs-55 {
  font-size: 3.4375rem;
}

.fs-56 {
  font-size: 3.5rem;
}

.fs-57 {
  font-size: 3.5625rem;
}

.fs-58 {
  font-size: 3.625rem;
}

.fs-59 {
  font-size: 3.6875rem;
}

.fs-60 {
  font-size: 3.75rem;
}

.fs-61 {
  font-size: 3.8125rem;
}

.fs-62 {
  font-size: 3.875rem;
}

.fs-63 {
  font-size: 3.9375rem;
}

.fs-64 {
  font-size: 4rem;
}

.fs-65 {
  font-size: 4.0625rem;
}

.fs-66 {
  font-size: 4.125rem;
}

.fs-67 {
  font-size: 4.1875rem;
}

.fs-68 {
  font-size: 4.25rem;
}

.fs-69 {
  font-size: 4.3125rem;
}

.fs-70 {
  font-size: 4.375rem;
}

.fs-71 {
  font-size: 4.4375rem;
}

.fs-72 {
  font-size: 4.5rem;
}

.fs-73 {
  font-size: 4.5625rem;
}

.fs-74 {
  font-size: 4.625rem;
}

.fs-75 {
  font-size: 4.6875rem;
}

.fs-76 {
  font-size: 4.75rem;
}

.fs-77 {
  font-size: 4.8125rem;
}

.fs-78 {
  font-size: 4.875rem;
}

.fs-79 {
  font-size: 4.9375rem;
}

.fs-80 {
  font-size: 5rem;
}

.fs-81 {
  font-size: 5.0625rem;
}

.fs-82 {
  font-size: 5.125rem;
}

.fs-83 {
  font-size: 5.1875rem;
}

.fs-84 {
  font-size: 5.25rem;
}

.fs-85 {
  font-size: 5.3125rem;
}

.fs-86 {
  font-size: 5.375rem;
}

.fs-87 {
  font-size: 5.4375rem;
}

.fs-88 {
  font-size: 5.5rem;
}

.fs-89 {
  font-size: 5.5625rem;
}

.fs-90 {
  font-size: 5.625rem;
}

.fs-91 {
  font-size: 5.6875rem;
}

.fs-92 {
  font-size: 5.75rem;
}

.fs-93 {
  font-size: 5.8125rem;
}

.fs-94 {
  font-size: 5.875rem;
}

.fs-95 {
  font-size: 5.9375rem;
}

.fs-96 {
  font-size: 6rem;
}

.fs-97 {
  font-size: 6.0625rem;
}

.fs-98 {
  font-size: 6.125rem;
}

.fs-99 {
  font-size: 6.1875rem;
}

.fs-100 {
  font-size: 6.25rem;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: white;
}

/* Handle */

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #000;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #181818;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 13px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 15px;
  }
}

.default-switch input {
  display: none;
}

.default-switch input:checked ~ span {
  background-color: #FF592C;
}

.default-switch input:checked ~ span:after {
  left: 11px;
}

.default-switch span {
  width: 26px;
  height: 16px;
  background-color: #C1C8CD;
  border-radius: 10px;
  position: relative;
  display: block;
  transition: 0.3s;
}

.default-switch span:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FFF;
  transition: 0.3s;
}

.nav {
  width: 100%;
  height: 5.125rem;
  background-color: #fff;
}

.search {
  width: 100%;
  height: 23.75rem;
  border-radius: 0 0 32px 32px;
  background: url("../images/search-bg.jpg") no-repeat center center;
  background-size: cover;
}

.search-form {
  width: 100%;
  height: 4rem;
  background: transparent;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.search-form-inp {
  width: 100%;
  padding-left: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  height: 100%;
  transition: 0.3s;
  border: 2px solid transparent;
  background-color: #fff;
}

.search-form-inp.focus {
  border: 2px solid #FF7A00;
  position: relative;
  z-index: 2;
}

.search-form-inp.focus:after {
  opacity: 0;
}

.search-form-inp.focus path {
  stroke: #FF7A00;
}

.search-form-inp.there {
  margin-right: -2px;
  overflow: hidden;
  border-radius: 16px 0 0 16px;
}

.search-form-inp.back:after {
  left: -3px;
}

.search-form-inp:first-child:after {
  display: none;
}

.search-form-inp:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: #D7DBDF;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  z-index: 1;
}

.search-form-inp svg {
  margin-right: 8px;
  min-width: 24px;
}

.search-form-inp svg * {
  transition: 0.3s;
}

.search-form-inp input {
  color: #11181C;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.search-form-inp input::-moz-placeholder {
  color: #687076;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.search-form-inp input::placeholder {
  color: #687076;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.search-form-lr {
  min-width: 36px;
  height: 36px;
  border-radius: 40px;
  border: 1px solid #D7DBDF;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -14px;
  margin-left: -20px;
  position: relative;
  right: -3px;
  z-index: 5;
  cursor: pointer;
}

.search-form-select {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 1.8125rem;
  cursor: pointer;
  padding-left: 1.5rem;
  background-color: #fff;
  position: relative;
}

.search-form-select:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: #D7DBDF;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  z-index: 1;
}

.search-form-select-body {
  width: 100%;
}

.search-form-select i {
  font-size: 8px;
}

.search-form-select-name {
  color: #11181C;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.4px;
}

.search-form-select-type {
  color: #687076;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.5px;
}

.search-form-submit {
  width: 100%;
  height: 100%;
  background-color: #FF7A00;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.4px;
  border-radius: 0 16px 16px 0;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/* ! tailwindcss v3.4.16 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.bottom-0{
  bottom: 0px;
}

.right-0{
  right: 0px;
}

.right-\[10px\]{
  right: 10px;
}

.mx-2{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.me-2{
  margin-inline-end: 0.5rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.mr-2{
  margin-right: 0.5rem;
}

.ms-2{
  margin-inline-start: 0.5rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-16{
  margin-top: 4rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.mt-\[-30px\]{
  margin-top: -30px;
}

.mt-6{
  margin-top: 1.5rem;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.h-16{
  height: 4rem;
}

.h-full{
  height: 100%;
}

.h-\[335px\]{
  height: 335px;
}

.h-auto{
  height: auto;
}

.h-\[400px\]{
  height: 400px;
}

.h-\[50px\]{
  height: 50px;
}

.h-\[100px\]{
  height: 100px;
}

.h-\[83px\]{
  height: 83px;
}

.h-\[340px\]{
  height: 340px;
}

.h-\[316px\]{
  height: 316px;
}

.h-\[243px\]{
  height: 243px;
}

.h-\[583px\]{
  height: 583px;
}

.h-\[593px\]{
  height: 593px;
}

.h-\[600px\]{
  height: 600px;
}

.h-\[662px\]{
  height: 662px;
}

.h-\[250px\]{
  height: 250px;
}

.h-\[255px\]{
  height: 255px;
}

.h-\[260px\]{
  height: 260px;
}

.w-16{
  width: 4rem;
}

.w-full{
  width: 100%;
}

.w-\[237px\]{
  width: 237px;
}

.w-\[164px\]{
  width: 164px;
}

.w-\[50\%\]{
  width: 50%;
}

.max-w-7xl{
  max-width: 80rem;
}

.max-w-52{
  max-width: 13rem;
}

.max-w-\[205px\]{
  max-width: 205px;
}

.max-w-\[210px\]{
  max-width: 210px;
}

.max-w-\[220px\]{
  max-width: 220px;
}

.max-w-\[170px\]{
  max-width: 170px;
}

.max-w-\[2010px\]{
  max-width: 2010px;
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.items-start{
  align-items: flex-start;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-10{
  gap: 2.5rem;
}

.gap-20{
  gap: 5rem;
}

.gap-8{
  gap: 2rem;
}

.gap-6{
  gap: 1.5rem;
}

.overflow-hidden{
  overflow: hidden;
}

.rounded-3xl{
  border-radius: 1.5rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-\[\]{
  border-radius: ;
}

.rounded-\[24px\]{
  border-radius: 24px;
}

.border{
  border-width: 1px;
}

.border-solid{
  border-style: solid;
}

.border-gray-400{
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity, 1));
}

.bg-transparent{
  background-color: transparent;
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\]{
  background-color: ;
}

.bg-\[\#DEEAFF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(222 234 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#D8EEFF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(216 238 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFF3D3\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 243 211 / var(--tw-bg-opacity, 1));
}

.bg-\[\#EDF3FF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(237 243 255 / var(--tw-bg-opacity, 1));
}

.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.object-center{
  -o-object-position: center;
     object-position: center;
}

.p-32{
  padding: 8rem;
}

.p-6{
  padding: 1.5rem;
}

.p-4{
  padding: 1rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.pb-14{
  padding-bottom: 3.5rem;
}

.pr-4{
  padding-right: 1rem;
}

.pt-12{
  padding-top: 3rem;
}

.pl-6{
  padding-left: 1.5rem;
}

.pb-\[30px\]{
  padding-bottom: 30px;
}

.text-center{
  text-align: center;
}

.text-\[36px\]{
  font-size: 36px;
}

.text-\[14px\]{
  font-size: 14px;
}

.text-\[18px\]{
  font-size: 18px;
}

.font-bold{
  font-weight: 700;
}

.leading-normal{
  line-height: 1.5;
}

.leading-none{
  line-height: 1;
}

.text-blue{
  --tw-text-opacity: 1;
  color: rgb(17 80 203 / var(--tw-text-opacity, 1));
}

.text-gray-800{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity, 1));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-\[\#11181C\]{
  --tw-text-opacity: 1;
  color: rgb(17 24 28 / var(--tw-text-opacity, 1));
}

.text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hover\:bg-gray-200:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:bg-\[\#3e3e3e\]{
  --tw-bg-opacity: 1;
  background-color: rgb(62 62 62 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:bg-\[\#6A8AFF\]{
  --tw-bg-opacity: 1;
  background-color: rgb(106 138 255 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

@media (min-width: 1024px){
  .lg\:w-1\/2{
    width: 50%;
  }
}

/*# sourceMappingURL=output.css.map */