@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap");
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #181818;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  color: #11181C;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 13px;
  }
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .container {
    padding: 0 15px;
  }
}

.default-switch input {
  display: none;
}
.default-switch input:checked ~ span {
  background-color: #FF592C;
}
.default-switch input:checked ~ span:after {
  left: 11px;
}
.default-switch span {
  width: 26px;
  height: 16px;
  background-color: #C1C8CD;
  border-radius: 10px;
  position: relative;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}
.default-switch span:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FFF;
  transition: 0.3s;
}

.btn {
  border: none;
}

.slider-partners {
  transform: translateY(0);
}
.slider-partners.start {
  animation: anim-partners infinite 400s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes anim-partners {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.nav {
  width: 100%;
  height: 5.125rem;
  background-color: #fff;
}

.search {
  width: 100%;
  height: 23.75rem;
  border-radius: 0 0 32px 32px;
  background: url("../images/search-bg.jpg") no-repeat center center;
  background-size: cover;
}
.search-form {
  width: 100%;
  height: 4rem;
  background: transparent;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.search-form-inp {
  width: 100%;
  padding-left: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
  height: 100%;
  transition: 0.3s;
  border: 2px solid transparent;
  background-color: #fff;
}
.search-form-inp.focus {
  border: 2px solid #FF7A00;
  position: relative;
  z-index: 2;
}
.search-form-inp.focus:after {
  opacity: 0;
}
.search-form-inp.focus path {
  stroke: #FF7A00;
}
.search-form-inp.there {
  margin-right: -2px;
  overflow: hidden;
  border-radius: 16px 0 0 16px;
}
.search-form-inp.back:after {
  left: -3px;
}
.search-form-inp:first-child:after {
  display: none;
}
.search-form-inp:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: #D7DBDF;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  z-index: 1;
}
.search-form-inp svg {
  margin-right: 8px;
  min-width: 24px;
}
.search-form-inp svg * {
  transition: 0.3s;
}
.search-form-inp input {
  color: #11181C;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
}
.search-form-inp input::placeholder {
  color: #687076;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.5px;
}
.search-form-lr {
  min-width: 36px;
  height: 36px;
  border-radius: 40px;
  border: 1px solid #D7DBDF;
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -14px;
  margin-left: -20px;
  position: relative;
  right: -3px;
  z-index: 5;
  cursor: pointer;
}
.search-form-select {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 1.8125rem;
  cursor: pointer;
  padding-left: 1.5rem;
  background-color: #fff;
  position: relative;
}
.search-form-select:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 48px;
  background-color: #D7DBDF;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
  z-index: 1;
}
.search-form-select-body {
  width: 100%;
}
.search-form-select i {
  font-size: 8px;
}
.search-form-select-name {
  color: #11181C;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.4px;
}
.search-form-select-type {
  color: #687076;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.5px;
}
.search-form-submit {
  width: 100%;
  height: 100%;
  background-color: #FF7A00;
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.4px;
  border-radius: 0 16px 16px 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*# sourceMappingURL=style.css.map */
