@import "helper";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');


::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #181818;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  color: #11181C;
  letter-spacing: -0.5px;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 13px;
  }
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  @media (max-width: 1440px) {
    padding: 0 15px;
  }
}



// COMPONENTS

.default-switch{

  input{
    display: none;
  }

  input:checked ~ span{
    background-color: #FF592C;
    &:after{
      left: 11px;
    }
  }

  span{
    width: 26px;
    min-width: 26px;
    height: 16px;
    background-color: #C1C8CD;
    border-radius: 10px;
    position: relative;
    display: block;
    transition: 0.3s;
    cursor: pointer;

    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #FFF;
      transition: 0.3s;
    }

  }


}

.slider-partners{
  transform: translateY(0);

  &.start{
    animation: anim-partners infinite 400s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }

  @keyframes anim-partners {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(-100%);
    }
  }
}


.modal{
  width: 100%;
  height: 100vh;
  @include flex('c', 'c');
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  visibility: hidden;

  &.show{
    visibility: visible;
    .modal-fon{
      //backdrop-filter: blur(3px);
    }
  }

  &-fon{
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.41);
    backdrop-filter: blur(0);
  }

  &-body{
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 24px;
    position: relative;
  }

  &-close{
    position: absolute;
    top: 5px;
    right: 15px;
    transform: rotate(45deg);
    font-size: 30px;
    cursor: pointer;
  }

  &-content{
    width: 100%;
    padding: 40px;
  }

}



.def-input{
  width: 100%;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #D7DBDF;
  background: #FFF;
  @include flex('s', 'c');
  overflow: hidden;
  padding-left: 16px;

  &.disabled{
    background: #EDF3FF;
    input{
      font-weight: bold;
    }
  }
  input{
    width: 100%;
    height: 100%;
    padding-left: 8px;
    background-color: transparent;
  }
  i{
    color: #1150CB;
    font-size: 18px;
  }
}


.mobile-menu-board{
  width: 30px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: $md) {
    display: flex;
  }
  &.active{
    span{
      &:nth-of-type(1){
        transform: rotate(45deg);
        top: 10px;
      }
      &:nth-of-type(2){
        opacity: 0;
      }
      &:nth-of-type(3){
        transform: rotate(-45deg);
        top: -10px;
      }
    }
  }
  span {
    transition: 0.3s;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: #1150CB;
    position: relative;
    &:last-child{
      margin: 0;
    }
    &:nth-of-type(1){
      transform: rotate(0);
      top: 0
    }
    &:nth-of-type(2){
      opacity: 1;
    }
    &:nth-of-type(3){
      transform: rotate(0);
      top: 0;
    }
  }
}


.ticket-dashed-silid{
  width: 1px;
  height: auto;
  position: relative;

  &:after{
    content: '';
    position: absolute;
    top: 24px;
    left: 0;
    height: calc(100% - 42px);
    border: 1px dashed #D7DBDF;
  }
}

// NAVBAR
@import "components/navbar";


// SEARCH
@import "components/search";


@tailwind base;
@tailwind components;
@tailwind utilities;