@import "helper";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');


::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #181818;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 13px;
  }
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  @media (max-width: 1440px) {
    padding: 0 15px;
  }
}



// COMPONENTS

.default-switch{

  input{
    display: none;
  }

  input:checked ~ span{
    background-color: #FF592C;
    &:after{
      left: 11px;
    }
  }

  span{
    width: 26px;
    height: 16px;
    background-color: #C1C8CD;
    border-radius: 10px;
    position: relative;
    display: block;
    transition: 0.3s;

    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #FFF;
      transition: 0.3s;
    }

  }


}



// NAVBAR
@import "components/navbar";


// SEARCH
@import "components/search";


@tailwind base;
@tailwind components;
@tailwind utilities;