@import "helper";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');


::-webkit-scrollbar {
  width: 3px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #181818;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  color: #11181C;
  letter-spacing: -0.5px;
}

a {
  text-decoration: none;
}
//
//@media (max-width: 1024px) {
//  html {
//    font-size: 15px;
//  }
//}
//
//@media (max-width: 992px) {
//  html {
//    font-size: 14px;
//  }
//}
//
//@media (max-width: 576px) {
//  html {
//    font-size: 13px;
//  }
//}

input:focus {
  outline: none;
  box-shadow: none;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  @media (max-width: 1570px) {
    padding: 0 15px;
  }
}



// COMPONENTS

.default-switch{

  input{
    display: none;
  }

  input:checked ~ span{
    background-color: #FF592C;
    &:after{
      left: 12px;
    }
  }

  span{
    width: 26px;
    min-width: 26px;
    height: 16px;
    background-color: #C1C8CD;
    border-radius: 10px;
    position: relative;
    display: block;
    transition: 0.3s;
    cursor: pointer;

    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 2px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #FFF;
      transition: 0.3s;
    }

  }


}

.slider-partners{
  transform: translateY(0);

  &.start{
    animation: anim-partners infinite 400s;
    //animation-iteration-count: 1;
    //animation-fill-mode: both;
  }

  @keyframes anim-partners {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(-100%);
    }
  }
}


@import "components/modal";



.def-input{
  width: 100%;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #D7DBDF;
  background: #FFF;
  @include flex('s', 'c');
  overflow: hidden;
  padding-left: 16px;

  &.disabled{
    background: #EDF3FF;
    input{
      font-weight: bold;
    }
  }
  input{
    width: 100%;
    height: 100%;
    padding-left: 8px;
    background-color: transparent;
  }
  i{
    color: #1150CB;
    font-size: 18px;
  }
}


.mobile-menu-board{
  width: 30px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: $md) {
    display: flex;
  }
  &.active{
    span{
      &:nth-of-type(1){
        transform: rotate(45deg);
        top: 10px;
      }
      &:nth-of-type(2){
        opacity: 0;
      }
      &:nth-of-type(3){
        transform: rotate(-45deg);
        top: -10px;
      }
    }
  }
  span {
    transition: 0.3s;
    width: 100%;
    height: 2px;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: #1150CB;
    position: relative;
    &:last-child{
      margin: 0;
    }
    &:nth-of-type(1){
      transform: rotate(0);
      top: 0
    }
    &:nth-of-type(2){
      opacity: 1;
    }
    &:nth-of-type(3){
      transform: rotate(0);
      top: 0;
    }
  }
}


.ticket-dashed-silid{
  width: 1px;
  height: auto;
  position: relative;

  &:after{
    content: '';
    position: absolute;
    top: 24px;
    left: 0;
    height: calc(100% - 42px);
    border: 1px dashed #D7DBDF;
  }
}

.scroll-bottom-none{
  &::-webkit-scrollbar {
    height: 0;
  }
}
.scroll-right-none{
  &::-webkit-scrollbar {
    width: 0;
  }
}


.change-rate{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.8s;
  opacity: 0;
  transform: translateY(-100%);
  visibility: hidden;

  &.show{
    opacity: 1;
    transform: translatey(0);
    visibility: visible;
  }

  &-header{
    @include flex('sb', 'c');
    height: 78px;
    background: #fff;
    padding: 0 24px;

    i{
      font-size: 32px;
      cursor: pointer;
    }
  }

  &-body{
    width: 100%;
    height: calc(100% - 78px);
    background-color: #EDF3FF;
    .container{
      padding: 24px;

      &::-webkit-scrollbar{
        width: 0;
      }

      @media (max-width: 768px){
        padding: 16px;
      }
    }
  }
}

.mobile-filter-body{
  display: none;
  &.show{
    display: block;
  }
}

.border-b{
  border-bottom: 1px solid #D7DBDF;
}

.def-checkout-input{
  position: relative;
  width: 100%;

  &.active{
    input{
      border: 1px solid #484747;
    }


    .def-checkout-input-pl{
      opacity: 0;
    }
  }

  input{
    width: 100%;
    display: block;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #C1C8CD;
    background: transparent;
    padding-left: 12px;
    transition: 0.3s;
    z-index: 1;
    position: relative;
  }

  &-pl{
    position: absolute;
    left: 0;
    top: 22px;
    width: 100%;
    min-height: 52px;
    white-space: nowrap;
    color: #7E868C;
    font-size: 16px;
    overflow-x: auto;
    padding: 0 12px 2px;
    display: flex;
    justify-content: start;
    align-items: center;


    &::-webkit-scrollbar{
      height: 3px;
      cursor: pointer;
    }
    &::-webkit-scrollbar-thumb{
      background: #3FC431;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover{
      background: #2a8f20;
    }
  }
}


.def-tooltip-body{
  position: fixed;
  background: #687076;
  color: #fff;
  z-index: 10;
  padding: 5px 8px;
  border-radius: 6px;
  transform: translate(-15px, calc(-100% - 10px));
  max-width: 223px;
  height: auto;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.5px;
  margin-left: calc(0px - var(--xpos));

  &:after{
    content: "";
    position: absolute;
    left: 12px;
    top: calc(100% - 1px);
    width: 16px;
    height: 9px;
    background: #6a7076;
    clip-path: polygon(50% 100%, 1% 0, 100% 0);
    transform: translateX(#{var(--xpos)});
  }


}


.box-shadow-user{
  box-shadow: 0px 2px 4px 0px rgba(17, 80, 203, 0.10), 0px 24px 60px 0px rgba(17, 80, 203, 0.05), 0px 12px 24px 0px rgba(17, 80, 203, 0.05);
}

.checkout-shadow{
  box-shadow: 0px 2px 0px #E6E8EB;
}


.tg-icon-anim{
  width: 200px;
  height: 200px;
  @include flex('c', 'c');
  position: relative;
  &:after{
    content: "";
    width: 200px;
    height: 200px;
    background: #40B3E0;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: call 2s infinite;
  }
  img{
    position: relative;
    z-index: 1;
  }
}

@keyframes call {
  0%{
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  70%{
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
  100%{
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}

.time-picker {
  width: 100%;
  height: 212px;
  @include flex('sb', 's');
  position: relative;

  .active-massa{
    position: absolute;
    left: 0;
    top: 87px;
    width: 100%;
    @include flex('sb', 'c');


    &-item{
      width: 64px;
      height: 36px;
      background: #40B3E0;
      border-radius: 8px;
    }
  }

  .picker{
    width: 64px;
    height: 100%;
    overflow-y: auto;
    position: relative;
    padding-bottom: 80px;
    padding-top: 88px;


    &::-webkit-scrollbar{
      width: 0;
      height: 0;
    }
    .item{
      @include flex('c', 'c');
      margin-bottom: 8px;
      height: 36px;
      align-self: stretch;
      border-radius: 8px;
      background: transparent;
      color: #7E868C;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.5px;
      position: relative;
      z-index: 1;
      transform: scale(0.6);

      &:nth-of-type(2){
        transform: scale(0.8);
      }

      &.active{
        color: #11181C;
        transform: scale(1);
      }


    }
  }
}


.desktop-select-time-fon{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;

  display: none;


  &.show{
    display: block;
  }
}


.def-checkbox{


  input{
    display: none;
  }

  input:checked ~ span{
    border: 1px solid #1150CB;
    background: #1150CB;
  }

  input:checked ~ span:after{
    opacity: 1;
  }

  &.green{
    input:checked ~ span{
      border: 1px solid #3FC431;
      background: #3FC431;
    }


    span{
      &:after{
        font-size: 14px;
        margin-top: -1px;
      }
    }
  }


  span{
    width: 20px;
    min-width: 20px;
    height: 20px;
    gap: 8px;
    border-radius: 4px;
    background: #EDF8FF;
    border: 1px solid #C1C8CD;;
    @include flex('c', 'c');
    transition: 0.3s;


    &:after{
      content: "\e901";
      font-family: "icomoon" !important;
      color: #fff;
      margin-top: 0;
      display: block;
      font-size: 15px;
      transition: 0.3s;
      opacity: 0;
    }
  }
}

.tab-filter{
  border-color: transparent !important;
    &.active{
      border-color: #1150CB !important;
    }
}


.shadow-btn-slider{
  box-shadow: 0px 2px 4px 0px rgba(23, 74, 189, 0.10), 0px 24px 60px 0px rgba(23, 74, 189, 0.05), 0px 12px 24px 0px rgba(23, 74, 189, 0.05);
}


.btn-back-shadow{
  box-shadow: 0px -1px 0px 0px #B5B5B5 inset, -1px 0px 0px 0px #E3E3E3 inset, 1px 0px 0px 0px #E3E3E3 inset, 0px 1px 0px 0px #E3E3E3;
}

.scroll-gray{
  &::-webkit-scrollbar-thumb{
    background-color: #d3d3d3;
  }
}

.def-radio{
  @include flex('s', 'c');
  gap: 8px;
  input{
    display: none;
  }
  span{
    display: block;
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid  #C1C8CD;
    background-color: #EDF3FF;
    transition: 0.3s;
    @include flex('c', 'c');

    &:after{
      content: "";
      width: 10px;
      min-width: 10px;
      height: 10px;
      min-height: 10px;
      background: #1150CB;
      border-radius: 50%;
      transition: 0.3s;
      opacity: 0;
    }
  }

  input:checked ~ span{
    border: 1px solid #1150CB;
  }

  input:checked ~ span:after{
    opacity: 1;
  }
}

.filter-is-sticky{
  background-color: #fff;

  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: -20px;
    height: 20px;
    width: 100%;
    background: linear-gradient(0deg, #fff, transparent);

  }
}


.swiper-button-disabled{
  cursor: default !important;
  i{
    color: #DFE3E6 !important;
  }
}

.border-tel-input{
  border-color: #484747 !important;
}


// NAVBAR
@import "components/navbar";


// SEARCH
@import "components/search";


@tailwind base;
@tailwind components;
@tailwind utilities;